/*
    Custom styles go here
*/

body{
    background-color: #222;
    color: #fafafa;
}

.board-title{    
    background-color: #ffd257;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: initial;
    margin-top: 20px;
    padding: 10px 20px;
}

.board-table tbody{
    font-family: 'Share Tech Mono', monospace;
}

.flight-number{
    width: 20%;
    color: #ffd257;
}

.destination{
    width: 25%;
}

.time{
    width: 15%;
}

.gate{
    width: 10%;
    color: #ffd257;   
}

.status{
    color: #ffd257;
    width: 30%;
    text-align: right;
}

.status span {
    display: none;
}

.status span.visible{
    display: block;
}

.status .negative{
    color: #ff6c6c;
}

.status .positive{
    color: #96d99d;
}

.board-table td,
.board-table th{
    border-bottom: 1px solid #555;
}

.board-table th{
    padding: 12px 6px;
    color: #FFF
}

.board-table td{
    padding: 4px 6px;
}

.board-table td:first-child,
.board-table th:first-child{
    padding-left: 0
}

.board-table td:last-child,
.board-table th:last-child{
    padding-right: 0;
}

.loading {
    position: relative;
    opacity: 0.5;
}

.loading:before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -15px;
    top: -3px;
    bottom: 0;
    margin: auto;
    background-color: #ffd257;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite linear;
    animation: sk-scaleout 1.0s infinite linear;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.9;
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}